### OS, IDE, generic exclusions
## Windows, Mac related
.DS_Store*
[Dd]esktop.ini
[Tt]humbs.db

## Intellij related
.idea/
*.iml

## Visual Studio related
.vscode/
.vs/

## Generic program logs
*.log


### Generic distribution, packaging, environments exclusions
build/
dist/
downloads/
lib/
lib64/
out/
parts/
sdist/
var/
.env_docker
.env_updated
.installed.cfg
MANIFEST


### Programming languages specific
### src: https://github.com/github/gitignore/blob/master/Python.gitignore
## Python byte-compiled, optimized, libraries, etc.
*.egg-info/
.eggs/
__pycache__/
develop-eggs/
eggs/
share/python-wheels/
wheels/
*$py.class
*.egg
*.py[cod]
.Python

## C related
*.so


### Stable-diffusion project specific
## SD environment
/envs/*
/flagged/*
/gfpgan/*
/model_cache/*
/models/*
/outputs/*
/src/*
/configs/webui/userconfig_streamlit.yaml
/custom-conda-path.txt
/log/**/*.png
/log/log.csv
condaenv.*.requirements.txt
z_version_env.tmp
