# Additional Stable Diffusion Requirements
# TODO: Pin external dependency versions

#opencv-python==4.6.0.66  # Opencv python already satisfied upstream
opencv-python-headless==4.6.0.66  # Needed to operate opencv in headless/server mode


taming-transformers-rom1504==0.0.6  # required by ldm
# See: https://github.com/CompVis/taming-transformers/issues/176
# -e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers # required by ldm
# Note: taming package needs to be installed with -e option


git+https://github.com/crowsonkb/k-diffusion.git
# Note: K-diffusion brings in CLIP 1.0 as a dependency automatically; will create a dependency resolution conflict when explicitly specified together
# git+https://github.com/openai/CLIP.git@main#egg=clip