# Core Stable Diffusion Dependencies

# Minimum Environment Dependencies for Stable Diffusion
#torch  # already satisfied as 1.12.1 from base image
#torchvision  # already satisfied as 0.13.1 from base image
#numpy==1.19.2  # already satisfied as 1.21.5 from base image


# Stable Diffusion (see: https://github.com/CompVis/stable-diffusion)
transformers==4.21.1
diffusers==0.3.0
invisible-watermark==0.1.5
pytorch_lightning==1.7.6