.css-18e3th9 {
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.css-1d391kg {
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
}
button[data-baseweb="tab"] {
  font-size: 20px;
}

@media (min-width: 1200px){
h1 {
    font-size: 1.75rem;
}
}
#tabs-1-tabpanel-0 > div:nth-child(1) > div > div.stTabs.css-0.exp6ofz0 {
  width: 50rem;
  align-self: center;
}
div.gallery:hover {
  border: 1px solid #777;
}