.css-18e3th9 {
  padding-top: 2rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.css-1d391kg {
  padding-top: 3.5rem;
  padding-right: 1rem;
  padding-bottom: 3.5rem;
  padding-left: 1rem;
}
button[data-baseweb="tab"] {
  font-size: 25px;
}
