/* Txt2Img text prompt box? */
input[data-testid="testbox"] {
    min-width: 380px !important;
}

/* ### Prompt Boxes ### */

#prompt_input,
#img2img_prompt_input {
    padding: 0px;
    border: none;
}

#prompt_row input,
#prompt_row textarea {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* Not sure what this does */
input[type=number]:disabled {
    -moz-appearance: textfield;
}

#img2img_mask_generate,
#img2img_edit_generate,
#txt2img_generate {
    /* Limit the generate button from becoming huge as it shares it's row with prompt text input  */
    max-width: 150px;
    width: 150px;
    /* height, set to #prompt_input text size + padding, etc */
    height: calc(1.6em + 24px);
}

/* ### txt2img: Output Column ### */

#txt2img_output_gallery {
    /* Needed with paddings to allow image to be 512 when displayed*/
    height: 587px;
    min-width: 512px;
}

#body>.col:nth-child(2),
#txt2img_output_column {
    /* With paddings should give a 512px size output */
    min-width: 556px;
    height: auto;
}

/* ### img2img: Input ### */

#img2img_input_container {
    min-height: 570px;
    height: 570px;
}

#img2img_input_container [data-testid="image"] {
    min-height: 512px;
    min-width: 512px;
    height: 512px;
    margin: auto;
}

/* ### txt2img: Output Parameters ###*/

/* This exists only to allow the copy seed button to work */
#seed_box_container,
#seed_box {
    visibility: hidden;
    height: 10px;
    overflow: hidden;
}

#output_parameters {
    font-size: 1.2rem;
}

#output_parameters .uppercase {
    text-transform: initial;
}

#output_parameters .textfield .textspan:nth-child(1) {
    font-size: 1.2rem;
}


/* ### Mobile Screen Sizes Support ### */

@media only screen and (max-width: 768px) {

    /* rearrange the columns on mobile */

    #body>.col:nth-child(2),
    /* TODO:L */
    #txt2img_output_column {
        width: 100%;
        max-width: 100vw;
        order: 1;
    }

    #body>.col:nth-child(1),
    #txt2img_start_column {
        width: 100%;
        max-width: 100vw;
        order: 2;
    }

    #body>.col:nth-child(3),
    #txt2img_end_column {
        width: 100%;
        max-width: 100vw;
        order: 3;
    }

    /* fix buttons layouts */
    #txt2img_actions_row,
    #txt2img_output_row {
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}