.suggestion-frame
{
	/* make as small as possible */
	padding: 0px !important;
	margin: 0px !important;
	min-height: 0px !important;
	line-height: 0;
	
	/* animate transitions of the height property */
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-ms-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s, y-overflow 300ms;
	
	/* block selection */
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#phrase-tooltip
{
	display: none;
	pointer-events: none;
	position: absolute;
	border-bottom-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	border: solid rgb(255,75,75) 2px;
	background-color: rgb(38, 39, 48);
	color: rgb(255,75,75);
	font-size: 1rem;
	font-family: "Source Sans Pro", sans-serif;
	padding: 0.5rem;
	
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	z-index: 1000;
}

#phrase-tooltip:has(img)
{
	transform: scale(1.25, 1.25);
	-ms-transform: scale(1.25, 1.25);
	-webkit-transform: scale(1.25, 1.25);
}

#phrase-tooltip>img
{
	pointer-events: none;
	border-bottom-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	z-index: 1500;
}